header {
	grid-area: header;
	background-color: $colorHeaderFooter;
	height: 9rem;
	@media only screen and (max-width: 768px){
		height: auto;
	}
	& a.logo{
		letter-spacing: 0.5rem;
		font-size: 3rem;
		font-family: Futura-Bold;
		color: $colorLogo ;
		text-decoration: none;
		@media only screen and (max-width: 768px){
			font-size: 2.5rem;
		}
	}
	& li.lista__elemento {
		display: inline-block;
		font-size: 1.5rem;
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		@media only screen and (max-width: 768px){
			font-size: 1.3rem;
		}
		& a.elemento__link{
			display: block;
			padding: 0.5rem 1rem;
			color: $colorLogo;
			text-decoration: none;
			transition: 0.4 linear;
			border-radius:0.5rem;
			&:hover{
				background: $colorHoover ;
			}
		}
	}			
}







					
			




