main {
	grid-area: main;
	&.gridMain{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto;
		grid-template-areas: 
		"imagen" 
		"titulo" 
		"texto";
		& div.contenedor{
			@extend .contenedor;
			display: flex;
			flex-flow: column nowrap;
			justify-content:center;
			align-items: center;
 			& img.imagenFull{
				grid-area: imagen;
				width: 100%;
				padding: 0.5rem;
				margin: 0.5rem;
			}
			& h1.contenedor__titulo{
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				letter-spacing: 0.2rem;
				font-size: 2.5rem;
				font-family: Futura-Bold;
				margin: 2rem;
				@media only screen and (max-width: 768px){
					font-size: 1.75rem;
				}
 			}
			& h1.tituloCentrado{
				grid-area: titulo;
 			}
 			& p.contenedor__texto{
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: center;
				line-height: 2rem;
				font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
				font-size: 1.5rem;
				text-align: justify-all;
				@media only screen and (max-width: 768px){
					font-size: 1.3rem;
				}
			}
			& p.textoCentrado{
				grid-area: texto;
 			}
		}
		& div.titulo-reseñas{
			grid-area: titulo;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: flex-start;
			text-align: center;
			width: 100%;
 		}
 		& div.formulario-reseñas{
 			grid-area: texto;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			align-items: flex-start;
			width: 100%;
			padding: 0.85rem;
			@media only screen and (max-width: 768px){
				width: 95%;
			}
			& form textarea.estiloTextArea{
 				width: 99%;
 				resize: none;
			}
 		}
 		& div.centrar{
			display: flex;
			flex-direction: row;
			justify-content: center;
			& img.imagenGif{
				grid-area: imagen;
				width: 80%;
				padding: 0.5rem;
				margin: 0.5rem;
			}			
		}
		& div.formulario {
 			display: flex;
 			flex-wrap: row wrap;
 			justify-content: center;
 			align-items: center;
 			& label.contenedor__etiqueta{
				font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
				font-size: 1.5rem;
				letter-spacing: 0.5rem;
				padding: 0.4rem;
				margin: 0.6rem;
				@media only screen and (max-width: 768px){
					margin: 0.3rem;
				}
			}
			& input{
 				padding: auto;
 				&.contenedor__input{
					margin: 0.6rem;
					@media only screen and (max-width: 768px){
						margin: 0.4rem;
					}
 				}
 			}
						
 		}
	}
	&.gridMainColumna{
		display: grid;
		grid-template-columns:1fr 1fr;
		grid-template-rows:auto ;
		grid-template-areas:
		"imagenIzq contenido";
		@media only screen and (max-width: 768px){
			display: grid;
			grid-template-columns:1fr ;
			grid-template-rows:auto auto ;
			grid-template-areas:
			"imagenIzq" 
			"contenido";
			}
		& div.contenedor{
			@extend .contenedor;
			display: flex;
			flex-flow: column nowrap;
			justify-content:center;
			align-items: center;
			& img.imagenIzquierda{
				grid-area:imagenIzq ;
				width: 80%;
				padding: 0.5rem;
				margin: 0.5rem;
			}
		}
		& div.contenidoDerecho{
			grid-area: contenido;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			& h1.contenedor__titulo{
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				letter-spacing: 0.2rem;
				font-size: 2.5rem;
				font-family: Futura-Bold;
				margin: 2rem;
				@media only screen and (max-width: 768px){
					font-size: 1.75rem;
				}
			}
			& p.contenedor__texto{
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: center;
				line-height: 2rem;
				font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
				font-size: 1.5rem;
				text-align: justify-all;
				@media only screen and (max-width: 768px){
					font-size: 1.3rem;
				}
			}
		}
	}
	&.gridPortfolio{
		display: grid;
		grid-template-columns: 1fr ;
		grid-template-rows: auto auto auto auto auto auto;
		grid-template-areas: 
		"tituloPortfolio" 
		"iframe1" 
		"iframe2" 
		"iframe3" 
		"textoPortfolio" 
		"verMas";
		& div.contenedor{
			@extend .contenedor;
			display: flex;
			flex-flow: column nowrap;
			justify-content:center;
			align-items: center;
			& h1.contenedor__titulo{
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				letter-spacing: 0.2rem;
				font-size: 2.5rem;
				font-family: Futura-Bold;
				margin: 2rem;
				@media only screen and (max-width: 768px){
					font-size: 1.75rem;
				}
				&.tituloPortfolio{
					grid-area:tituloPortfolio ;
 				}
			}
			&.iframeContenedor{
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				width: 95%;
				padding: 0.5rem;
				margin: 0.5rem;
				&.iframe1{
					grid-area: iframe1;
 				}
 				&.iframe2{
					grid-area: iframe2;
 				}
 				&.iframe3{
					grid-area: iframe3;
 				}
 				& iframe{
 					@media only screen and (min-width: 769px){
						width: 64rem;
						height: 36rem;
					}
 				}
			}
			&.textoPortfolio{
				grid-area: textoPortfolio;
				width: 95%;
				padding: 0.5rem;
				margin: 0.5rem;
				text-align: justify;
				& p.contenedor__texto{
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					justify-content: center;
					line-height: 2rem;
					font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
					font-size: 1.5rem;
					text-align: justify-all;
					@media only screen and (max-width: 768px){
						font-size: 1.3rem;
					}
				}
			}
			&.verMas{
				grid-area: verMas;
				width: 95%;
				display: flex;
				flex-direction: row;
				justify-content: center;
				padding: 0.5rem;
				margin: 0.5rem;
				& a.contenedor__verMas{
					font-family: Futura-Bold;
					font-size: 2rem;
					letter-spacing: 0.5rem;
					color: #666;
					padding: 0.5rem 1rem;
					text-decoration: none;
					transition: 0.4 linear;
    				border-radius:0.5rem;
    				@media only screen and (max-width: 768px){
    					font-size: 1.75rem;
					}
				}
			}
		}
	}
}

hr{
		grid-area: hr;
		outline-style: groove;
		padding: 0;
		margin-top: 4rem;
		width: 100%;
		@media only screen and (max-width: 768px){
    		width: 99%;
		}
	}

 

 